{% load static %}
<style>
  .btn-custom {
    background-color: #FF65C3;
    border-color: #FF65C3;
    color: white;
  }

  .btn-custom:hover {
    background-color: #e055b0;
    border-color: #e055b0;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container">
    <img src="{% static 'img/logo.png' %}" alt="Bootstrap" width="40px" style="margin:5px;">
    <a class="navbar-brand" href="/">CeluPro Co</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="" class="nav-link">Productos</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks' %}" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" href="">Ver Clientes</a></li>
            <li><a class="dropdown-item" href="{% url 'createCustomer' %}">Crear Cliente</a></li>
            <li><a class="dropdown-item" href="">Actualizar Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Proveedores</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Facturas</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Reportes</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Tasks</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="">Usuarios</a></li>
            <li><a class="dropdown-item" href="">Configuración General</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/signup" class="btn btn-custom">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
