{% load static %}
<style>
  .btn-custom {
    background-color: #FF65C3;
    border-color: #FF65C3;
    color: white;
  }

  .btn-custom:hover {
    background-color: #e055b0;
    border-color: #e055b0;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
  <div class="container">
    <img src="{% static 'img/logo.png' %}" alt="Bootstrap" width="40px" style="margin:5px;">
    <a class="navbar-brand" href="/">CeluPro Co</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" href="{% url 'viewItem' %}">Crear productos</a></li>
            <li><a class="dropdown-item" href="{% url 'createTax' %}">Crear impuestos</a></li>
            <li><a class="dropdown-item" href="">Actualizar productos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'tasks' %}" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" href="{% url 'viewClient' %}">Ver Clientes</a></li>
            <li><a class="dropdown-item" href="{% url 'createCustomer' %}">Crear Cliente</a></li>
            <!-- <li><a class="dropdown-item" href="">Actualizar Cliente</a></li> -->
          </ul>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Inventario</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Facturas</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Reportes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="">Usuarios</a></li>
            <li><a class="dropdown-item" href="">Configuración General</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" href="/logout">Cerrar sesion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/signup" class="btn btn-custom">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<script>
  document.getElementById('logoutButton').addEventListener('click', function(event) {
    event.preventDefault();
    Swal.fire({
      title: 'Cerrando sesión',
      text: 'Por favor, espere...',
      icon: 'info',
      timer: 2000,
      onOpen: () => {
        Swal.showLoading();
        setTimeout(() => {
          window.location.href = '/logout';
        }, 2000);
      }
    });
  });
</script>