{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <title>CeluPro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <style>
      /* Estilos para el spinner */
      .spinner-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10000;
      }
    </style>
  </head>
  <body>
    {% include '_navbar.html' %}

    <!-- Spinner HTML -->
    <div id="spinner" class="spinner-wrapper" style="display: none;">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      // JavaScript para mostrar el spinner durante las solicitudes AJAX
      $(document).ready(function() {
        $(document).ajaxStart(function() {
          $("#spinner").show();
        }).ajaxStop(function() {
          $("#spinner").hide();
        });
      });

      // Mostrar el spinner durante la carga inicial de la página
      window.addEventListener('load', function() {
        $("#spinner").hide();
      });
    </script>
  </body>
</html>
