{% extends 'base.html' %} {% block content %}
{% load static %}
<style>
  .carousel-item {
    position: relative;
  }
  
  .carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
  }
  
  .carousel-item img {
    height: 600px; /* Ajusta esta altura según tus necesidades */
    object-fit: cover; /* Esto asegurará que la imagen se ajuste bien dentro del contenedor */
    width: 100%;
  }
  
  .carousel-caption {
    bottom: 20%;
    z-index: 2;
  }
  .btn-custom {
    background-color: #FF65C3;
    border-color: #FF65C3;
    color: white;
  }

  .btn-custom:hover {
    background-color: #e055b0;
    border-color: #e055b0;
  }
</style>
<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'img/carrouselFoto1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/carrouselFoto1.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'img/carrouselFoto1.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  {% if user.is_authenticated %}
  <!--Aqui no va nada porque si no agrego esta condicion mostrara el boton inicio de session-->
  {% else %}
  <div class="carousel-caption d-none d-md-block" style="margin-bottom: 40px;">
    <h1>Bienvenido a CeluPro Co</h1>
    <a href="/signin" class="btn btn-custom">Iniciar sesion</a>
  </div>
  {% endif %}
</div>
{% endblock %}
