body {
    padding-top: 80px; /* ajusta este valor según el alto de tu navbar */
}
 
.card-margin-top {
    margin-top: 7rem;
}

.search-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-spaced {
    margin-right: 10px;
    margin-bottom: 5px;
}

.card-header {
    background-color: #2f855a; 
    color: white;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
}

.table-responsive {
    overflow-x: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pagination li {
    display: inline;
    margin: 0 5px;
}

.pagination a {
    color: white;
    background-color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a.active {
    background-color: #343a40;
}

.pagination a.disabled {
    background-color: #e9ecef;
    color: #6c757d;
    cursor: default;
}

.pagination a:hover:not(.active):not(.disabled) {
    background-color: #0056b3;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: #2f855a;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .offcanvas-start {
        position: relative;
        transform: none;
        visibility: visible !important;
        background: transparent;
        border: none;
      }
    .action-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
    .search-container {
        justify-content: center !important;
        flex-direction: column;
        align-items: stretch;
    }

    .search-container .btn {
        margin: 5px 0;
        width: 100%;
    }

    .card-header {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .modal-dialog {
        max-width: 90%;
    }
}
