{% load static %}
<style>
  .btn-custom {
    background-color: #2f855a;
    border-color: #19a637;
    color: white;
  }

  .btn-custom:hover {
    background-color: #19a637;
    border-color: #19a637;
  }
  .navbar {
  height: 70px; 
  }

.navbar img {
  width: 180px; 
  height: auto; 
  max-height: 100%; 
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <img src="{% static 'img/BersekerLogoPrime.png' %}" alt="Bootstrap" width="80px">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" href="{% url 'viewItem' %}">ver productos</a></li>
            <li><a class="dropdown-item" href="{% url 'createItem' %}">Crear productos</a></li>
            <li><a class="dropdown-item" href="{% url 'createTax' %}">Crear impuestos</a></li>
            <li><a class="dropdown-item" href="">Actualizar productos</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="{% url 'Dasboard' %}" class="nav-link">Paneles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" href="{% url 'viewClient' %}">Ver Clientes</a></li>
            <li><a class="dropdown-item" href="{% url 'createCustomer' %}">Crear Cliente</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Inventario</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Facturas</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Reportes</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuración
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="">Usuarios</a></li>
            <li><a class="dropdown-item" href="">Configuración General</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn btn-danger" id="logoutButton" href="/logout">Cerrar sesion</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Contact</a>
        </li>
        <li class="nav-item" style="margin-left: 10px;">
          <a href="/signup" class="btn btn-custom">Registrarse</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.getElementById('logoutButton').addEventListener('click', function(event) {
    event.preventDefault();  

    Swal.fire({
      title: 'Cerrando sesión',
      text: 'Por favor, espere...',
      icon: 'info',
      timer: 2000,
      background: '#fff',
      showConfirmButton: false,
      iconColor: '#2f855a',
      allowOutsideClick:false,
      allowEscapeKey:false,
      
      onOpen: () => {
        Swal.showLoading();  
      },
      willClose: () => {
        window.location.href = '/logout';  
      }
    });
  });
</script>