{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="container mt-5" >
  <div class="card p-4 shadow" style="margin-top: 6rem;">
    <h2>Editar Perfil</h2>
    <form method="post" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_username" class="form-label">Nombre de usuario</label>
        {{ user_form.username }}
      </div>

      <div class="mb-3">
        <label for="id_email" class="form-label">Correo electrónico</label>
        {{ user_form.email }}
      </div>

      <hr>
      <h4>Cambiar contraseña</h4>

      <div class="mb-3">
        <label for="id_old_password" class="form-label">Contraseña actual</label>
        {{ password_form.old_password }}
      </div>

      <div class="mb-3">
        <label for="id_new_password1" class="form-label">Nueva contraseña</label>
        {{ password_form.new_password1 }}
      </div>

      <div class="mb-3">
        <label for="id_new_password2" class="form-label">Confirmar nueva contraseña</label>
        {{ password_form.new_password2 }}
      </div>

      <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
  </div>
</div>

{% if messages %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      {% for message in messages %}
        Swal.fire({
          icon: '{% if message.tags == "success" %}success{% else %}error{% endif %}',
          title: '{{ message|escapejs }}',
          showConfirmButton: true
        });
      {% endfor %}
    });
  </script>
{% endif %}


{% endblock %}
