{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/homePages/signin.css' %}">    

<div class="login-container">
  <div class="login-section">
    <h2>Login</h2>
    <form action="/signin/" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Nombre de usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">Sign in</button>
    </form>
    <p><a href="#" id="forgotPass">Forgot Password?</a></p>
    <div class="social-login">
      <img src="{% static 'img/google-icon.png' %}" alt="Google">
      <img src="{% static 'img/github-icon.png' %}" alt="GitHub">
      <img src="{% static 'img/facebook-icon.png' %}" alt="Facebook">
    </div>
    <p>Don't have an account?  <a href="/signup/" id="DontAccount">Sign up</a></p>
  </div>
  <div class="info-section">
    <h2>With tools like Beserker</h2>
    <p>“ mastering sales and inventory management has never been more accessible. Enhance your skills and boost your career prospects today!”</p>
    <p><strong>Berserker Corporate</strong></p>
  </div>
</div>

<div id="messages-container">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "success" and request.method == "POST" %}
        <span class="message-content success-message" style="display: none;">{{ message }}</span>
      {% elif message.tags == "error" %}
        <span class="message-content error-message" style="display: none;">{{ message }}</span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="{% static 'js/homePages/signin.js' %}"></script>
{% endblock %}
