{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/homePages/signin.css' %}">

<div class="auth-container">
  <div class="auth-left">
    <div class="auth-logo">🔒 Berserker</div>
    <h1>Iniciar sesion</h1>
    <p>Por favor colocar nombre de usuario y contraseña</p>

    <form action="/signin/" method="POST" class="auth-form">
      {% csrf_token %}
      <input type="text" name="username" placeholder="Correo o usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>

      <div class="auth-options">
        <label><input type="checkbox" name="remember"> Recuerdame</label>
        <a href="#" id="forgotPass">¿Olvidastes tu contraseña o usuario?</a>
      </div>

      <button type="submit" class="btn-submit">Sign In</button>

      <div class="social-login">
        <img src="{% static 'img/google-icon.png' %}" alt="Google">
        <img src="{% static 'img/github-icon.png' %}" alt="GitHub">
        <img src="{% static 'img/facebook-icon.png' %}" alt="Facebook">
      </div>

      <p class="signup-link">¿No tienes cuenta? <a href="/signup/">Registrate</a></p>
    </form>
  </div>

  <div class="auth-right">
    <img src="{% static 'img/signup.png' %}" alt="Illustration" />
  </div>
</div>

<div id="messages-container">
  {% if messages %}
    {% for message in messages %}
      {% if message.tags == "success" and request.method == "POST" %}
        <span class="message-content success-message" style="display: none;">{{ message }}</span>
      {% elif message.tags == "error" %}
        <span class="message-content error-message" style="display: none;">{{ message }}</span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/homePages/signin.js' %}"></script>

{% endblock %}
