{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/Inventory/createItem.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<div class="card-container">
    <div class="card">
        <div class="card-header" style="background-color: green; color: white;">
            Productos
        </div>
        <div class="section-header">INFORMACIÓN DEL PRODUCTO</div>
        <form method="post" action="{% url 'createItem' %}"  id="create-item-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="Name">Nombre</label>
                <input type="text" id="Name" name="Name" required>
            </div>
            <div class="form-group">
                <label for="Referents">Referencias</label>
                <input id="Referents" name="Referents" required>
            </div>
            <div class="form-group">
                <label for="Description">Descripción</label>
                <textarea id="Description" name="Description" required></textarea>
            </div>
            <div class="form-group">
                <label for="Precio">Precio</label>
                <input type="text" name="Price" id="currency-field" placeholder="$1,000,000.00">
            </div>
            <div class="form-group">
                <label for="Stock">Cantidad</label>
                <input type="number" id="Stock" name="Stock" required>
            </div>
            <div class="form-group">
                <label for="Taxes">Impuestos</label>
                <select id="Taxes" name="Taxes" class="form-select">
                    {% for tax in taxes %}
                        <option value="{{ tax.id }}">{{ tax.name }}</option>
                    {% endfor %}
                </select> 
            </div>
            <div class="form-group" style="margin-left: 30%; margin-top: 30px;">
                <input class="form-check-input small-radio" type="radio" name="active" id="inlineRadio1" value="True" required>
                <label class="form-check-label" for="inlineRadio1" style="margin-right: 50px;">activado</label><br>
                <input class="form-check-input small-radio" type="radio" name="active" id="inlineRadio2" value="False">
                <label class="form-check-label" for="inlineRadio2">desactivado</label>
            </div>
            
            <div class="form-group">
                <button type="submit" id="saveForm">Guardar</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/Inventory/createItem.js' %}"></script>
<script>
    const messages = [];

    {% if messages %}
        {% for message in messages %}
            messages.push({
                level: "{{ message.tags }}",
                text: "{{ message|escapejs }}"
            });
        {% endfor %}
    {% endif %}
</script>



{% endblock %}
