{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/Inventory/updateItem.css' %}">

<div class="card-container">
    <div class="card">
        <h1>Productos</h1>
        <div class="section-header">ACTUALIZAR PRODUCTOS</div>
        <form method="post" id="create-item-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="Name">Nombre</label>
                <input type="text" id="Name" name="Name" required value="{{ item.Name }}">
            </div>
            <div class="form-group">
                <label for="Referents">Referencias</label>
                <input id="Referents" name="Referents" required value="{{ item.Referents }}">
            </div>
            <div class="form-group">
                <label for="Description">Descripción</label>
                <textarea id="Description" name="Description" required>{{ item.Description }}</textarea>
            </div>
            <div class="form-group">
                <label for="Price">Precio</label>
                <input type="text" id="Price" name="Price" value="{{ item.Price }}"required>
            </div>
            <div class="form-group">
                <label for="Stock">Cantidad</label>
                <input type="number" id="Stock" name="Stock" value="{{ item.Stock }}" required>
            </div>
            <div class="form-group">
                <label for="Taxes">Impuestos</label>
                <select id="Taxes" name="Taxes" class="form-select" >
                    {% for tax in taxes %}
                        <option value="{{ tax.id }}" {% if tax.id == item.Taxes.id %}selected{% endif %}>{{ tax.name }}</option>
                    {% endfor %}
                </select>                
            </div>
            <div class="form-group" style="margin-left: 30%; margin-top: 30px;">
                <input class="form-check-input small-radio" type="radio" name="active" id="inlineRadio1" value="True" {% if item.active %}checked{% endif %} required>
                <label class="form-check-label" for="inlineRadio1" style="margin-right: 50px;">activado</label><br>
                <input class="form-check-input small-radio" type="radio" name="active" id="inlineRadio2" value="False" {% if not item.active %}checked{% endif %}>
                <label class="form-check-label" for="inlineRadio2">desactivado</label>
            </div>
            
            <div class="form-group">
                <button type="submit" id="saveForm">Guardar</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
{% block extra_scripts %}

<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<!-- script personalizado -->
<script src="{% static 'js/Inventory/updateItem.js' %}"></script>
{% endblock %}
