{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">
<style>
    .card-margin-top {
        margin-top: 8rem !important;
    }

    .search-container {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
    }

    .search-container input[type="text"] {
        padding: 5px;
        margin-left: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .pagination {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
    }

    .pagination li {
        display: inline;
        margin: 0 5px;
    }

    .pagination a {
        color: white;
        background-color: #007bff;
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .pagination a.active {
        background-color: #343a40;
    }

    .pagination a.disabled {
        background-color: #e9ecef;
        color: #6c757d;
        cursor: default;
    }

    .pagination a:hover:not(.active):not(.disabled) {
        background-color: #0056b3;
    }
</style>
</head>
<body>
<div class="container mt-5 card-margin-top">
    <div class="card shadow">
        <div class="card-body">
            <div class="section d-flex justify-content-between align-items-center mb-3">
                <h2>Clientes registrados</h2>
                <div class="search-container">
                    <div style="margin: 1px;">
                        <a class="btn btn-primary" href="{% url 'createCustomer' %}">+ Nuevo</a>
                    </div>
                    <a class="btn btn-success" id="exportButton">Exportar</a>
                    <input type="text" id="searchInput" placeholder="Buscar...">
                </div>
            </div>
            <table id="clientsTable" class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th><input type="checkbox"></th>
                    <th style="font-weight: bold;">#</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Telefono</th>
                    <th>PDF</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                {% if clients %}
                {% for client in clients %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>#{{ client.id }}</td>
                    <td>{{ client.cedula }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastname }}</td>
                    <td>{{ client.phone }}</td>
                    <td>
                        {% if client.pdf %}
                            <a href="{% url 'download_pdf' client.id %}" class="btn btn-sm btn-info"
                               data-toggle="modal" data-target="#pdfModal">Descargar PDF</a>
                        {% else %}
                            No PDF
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'update_cliente' client.id %}" class="btn btn-sm btn-primary"><i
                                    class="fas fa-edit"></i></a>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8" class="text-center">No hay clientes registrados</td>
                </tr>
                {% endif %}
                </tbody>
            </table>
            <ul id="pagination" class="pagination"></ul>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function() {
    const rowsPerPage = 8;
    let rows = $('#tableBody tr');
    let rowsCount = rows.length;
    const pagination = $('#pagination');

    function updatePagination() {
        pagination.empty();
        const pageCount = Math.ceil(rowsCount / rowsPerPage);

        for (let i = 1; i <= pageCount; i++) {
            pagination.append(`<li><a href="#" class="page-link">${i}</a></li>`);
        }

        pagination.find('a:first').addClass('active');
    }

    function displayRows(page) {
        let start = (page - 1) * rowsPerPage;
        let end = start + rowsPerPage;
        rows.hide();
        rows.slice(start, end).show();
    }

    pagination.on('click', 'a', function(e) {
        e.preventDefault();
        pagination.find('a').removeClass('active');
        $(this).addClass('active');
        displayRows($(this).text());
    });

    $('#searchInput').on('keyup', function() {
        let value = $(this).val().toLowerCase();
        rows = $('#tableBody tr'); // Actualizar las filas disponibles

        rows.each(function() {
            let row = $(this);
            let match = row.text().toLowerCase().indexOf(value) > -1;
            row.toggle(match);
        });

        rowsCount = rows.filter(':visible').length;
        updatePagination();
        displayRows(1);
    });

    displayRows(1);
    updatePagination();

    document.getElementById('exportButton').addEventListener('click', function() {
        window.location.href = "{% url 'export_clients_to_excel' %}";
    });
});
</script>
{% endblock %}
