body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .login-container {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .login-section {
    flex: 1;
    padding: 40px;
    background: #000;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .login-section h2 {
    margin-bottom: 20px;
  }
  .login-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #83C8EC;
    border-radius: 5px;
    background: transparent;
    color: white;
  }
  .login-section input::placeholder {
    color: #bbb;
  }
  .login-section button {
    background-color: #2f855a;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  .login-section button:hover {
    background-color: #276749;
  }
  .social-login {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  .social-login img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .info-section {
    flex: 1;
    padding: 40px;
    background: #2f855a;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #DontAccount{
    color: #2f855a;
  }
  #forgotPass{
    color: #2f855a;
  }